.boton-cerrar-sesion{
    cursor:pointer;
    font-size:12px;
   
}

.cont-count-elemento{
    display:flex;
    align-items:center;
}

.quitar-subrayado {
    text-decoration: none;
}
.quitar-punto{
    list-style:none;
}
.sesion-element{
    display:flex;
    gap:20px;
    margin:5px 20px 5px 5px;
    font-size:20px;
}

.text-cerrar-sesiton {
    background: #082052;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px;
}